<section>

  <div class="segment">
    <div class="content">
      <div class="logotype" style="margin-bottom: 3rem;">
        marble
      </div>
      <div>
        Marble is a Web3 lab specializing in TON development. We bring innovative blockchain projects to life, with a
        focus
        on gamification, user adoption, and seamless integration within the Telegram ecosystem.
      </div>
    </div>
    <div class="footer">
      <a class="link">about</a>
      <a class="link">our projects</a>
      <a class="link">contact us</a>
    </div>
  </div>

  <div class="segment">
    <div class="hero"></div>
  </div>

</section>
