@import "colours.scss";

body {
  font-family: "Poppins", sans-serif;
  color: $white;
  background-color: $black;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logotype {
  color: $turquoise;
  font-size: 3rem;
  font-weight: 600;
}
